html {
    background-color: #1c2a44;
}
header{
    display: block;
    background-color: #344056;
    color: white;
    text-align: center;
    border: 1px solid white;
    border-radius: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
}
header h1{
    text-shadow: 0px 0px 15px #10c9cf;
}
section {
    background-color: #344056;
    color: white;
    text-align: center;
    border: 1px solid white;
    border-radius: 20px;
}
aside{
    background-color: #344056;
    color: white;
    text-align: center;
    border: 1px solid white;
    border-radius: 20px;
}