*{
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-areas: "head head head head head head"
                         "menu main main main main main"
                         "foot foot foot foot foot foot";
  }

  .item-1 { grid-area: head; background: blue; }
  .item-2 { grid-area: menu; background: red; }
  .item-3 { grid-area: main; background: green; }
  .item-4 { grid-area: foot; background: orange; }  
  
.item-1{
    height: 100px;
}
.item-2{
    height: calc(100vh - 100px);

}
.item-3{
    height: calc(100vh - 100px);
}
.item-4{
    height: 100px;
}