* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #6b83af;
}

.header {
    background: #344056;    /*Color de fondo*/
    height: 60px;
    border-radius: 20px;
    text-align: center;
    border: 3px solid #10c9cf;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
    .titulo{
        color: white; /*Color de las letras de la cabecera*/
        text-shadow: 0px 0px 15px #10c9cf;/*sombra del texto*/
    }

.main {
    background: #6b83af;    /*Color de fondo*/
    height: calc(100vh - 140px);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px; 
}
    .aside {
        width: 250px;
        height: 100%;
        background: #344056;    /*Color de fondo*/
        border: 3px solid #10c9cf;
        border-radius: 20px;
        
        
    }
    .menu{
        background-color: #344056;
        list-style: none;
        margin-top: 100px;
        padding: 10px;
        height: 100px;
        gap: 50px;
        display: grid;
        justify-items: center;
        align-items: center;
    }
    a {
        text-decoration: none;
        color: white;
    }
    .menuhtml{
        height: 52px;   /*altura del boton*/
        width: 200px;   /*ancho del boton*/
        font-size: 24px;    /*tamaño de letra */
        font-weight: bold;  /*pongo las letras en negrita*/
        text-transform: uppercase;  /*Transformo todo el texto en mayusculas*/
        letter-spacing: 2px;    /*espacio entre las letras*/
        background-color: #344056;    /*color del boton*/
        border: 4px solid #10c9cf; /*Le pongo un borde de 4px color negro solido*/
        border-radius: 10px;    /*Redondeo las esquinas del borde (negro)*/ 
        position: relative; /*posicionamiento relativo para variar ligeramente la posicion*/
        cursor: pointer;    /*muestra el puntero "mano" al pasar por el boton*/
        z-index: 1; /*indico el nivel de profundidad*/
        transition: color 1s ease-in-out;   /*transicion del efecto de las letras al soltar el boton (negro a blanco)*/
        display: flex;
        align-items: center;
        justify-content: center;
    }
        .menuhtml:hover{
            color: black;   /*color de las letras*/
            transition: all 1s ease-in-out; /*transicion del efecto de las letras al pasar el cursor por el boton (blanco a negro)*/
        }
        .menuhtml::before{
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);   /*zona que ocupa el efecto del color al pasar el raton por el boton*/
            background-color: #f06529;
            border-radius: 5px; /*Redondeo las esquinas del borde (blanco)*/ 
            width: 0;
            height: 100%; 
            z-index: -1; /*indico el nivel de profundidad*/
            transition: all 1s ease-in-out; /*transicion del efecto de cierre del color de fondo y tiempo que tarda en cerrar*/
        }
        .menuhtml:hover::before{
            width: 100%;
            transition: all 1s ease-in-out; /*transicion del efecto de apertura del color de fondo y tiempo que tarda en abrir*/
        }
    .menucss{
        height: 52px;   /*altura del boton*/
        width: 200px;   /*ancho del boton*/
        font-size: 24px;    /*tamaño de letra */
        font-weight: bold;  /*pongo las letras en negrita*/
        text-transform: uppercase;  /*Transformo todo el texto en mayusculas*/
        letter-spacing: 2px;    /*espacio entre las letras*/
        background-color: #344056;    /*color del boton*/
        border: 4px solid #10c9cf; /*Le pongo un borde de 4px color negro solido*/
        border-radius: 10px;    /*Redondeo las esquinas del borde (negro)*/ 
        position: relative; /*posicionamiento relativo para variar ligeramente la posicion*/
        cursor: pointer;    /*muestra el puntero "mano" al pasar por el boton*/
        z-index: 1; /*indico el nivel de profundidad*/
        transition: color 1s ease-in-out;   /*transicion del efecto de las letras al soltar el boton (negro a blanco)*/
        display: flex;
        align-items: center;
        justify-content: center;
    }
        .menucss:hover{
            color: black;   /*color de las letras*/
            transition: all 1s ease-in-out; /*transicion del efecto de las letras al pasar el cursor por el boton (blanco a negro)*/
        }
        .menucss::before{
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);   /*zona que ocupa el efecto del color al pasar el raton por el boton*/
            background-color: #2965f1;
            border-radius: 5px; /*Redondeo las esquinas del borde (blanco)*/ 
            width: 0;
            height: 100%; 
            z-index: -1; /*indico el nivel de profundidad*/
            transition: all 1s ease-in-out; /*transicion del efecto de cierre del color de fondo y tiempo que tarda en cerrar*/
        }
        .menucss:hover::before{
            width: 100%;
            transition: all 1s ease-in-out; /*transicion del efecto de apertura del color de fondo y tiempo que tarda en abrir*/
        }
    .menujs{
        height: 52px;   /*altura del boton*/
        width: 200px;   /*ancho del boton*/
        font-size: 24px;    /*tamaño de letra */
        font-weight: bold;  /*pongo las letras en negrita*/
        text-transform: uppercase;  /*Transformo todo el texto en mayusculas*/
        letter-spacing: 2px;    /*espacio entre las letras*/
        background-color: #344056;    /*color del boton*/
        border: 4px solid #10c9cf; /*Le pongo un borde de 4px color negro solido*/
        border-radius: 10px;    /*Redondeo las esquinas del borde (negro)*/ 
        position: relative; /*posicionamiento relativo para variar ligeramente la posicion*/
        cursor: pointer;    /*muestra el puntero "mano" al pasar por el boton*/
        z-index: 1; /*indico el nivel de profundidad*/
        transition: color 1s ease-in-out;   /*transicion del efecto de las letras al soltar el boton (negro a blanco)*/
        display: flex;
        align-items: center;
        justify-content: center;
    }
        .menujs:hover{
            color: black;   /*color de las letras*/
            transition: all 1s ease-in-out; /*transicion del efecto de las letras al pasar el cursor por el boton (blanco a negro)*/
        }
        .menujs::before{
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);   /*zona que ocupa el efecto del color al pasar el raton por el boton*/
            background-color: #f0db4f;
            border-radius: 5px; /*Redondeo las esquinas del borde (blanco)*/ 
            width: 0;
            height: 100%; 
            z-index: -1; /*indico el nivel de profundidad*/
            transition: all 1s ease-in-out; /*transicion del efecto de cierre del color de fondo y tiempo que tarda en cerrar*/
        }
        .menujs:hover::before{
            width: 100%;
            transition: all 1s ease-in-out; /*transicion del efecto de apertura del color de fondo y tiempo que tarda en abrir*/
        }

    .article {
        background-color: #6b83af;  /*Color de fondo*/
        height: 100%;
        text-align: center;
        font-size: 30px;
        
    }
        .section {
            color: black;
            background-color:  white;
            width: 90%;
            padding: 30px;
            display:inline-flex;
            font-size: 30px;
            text-align: left;
            
        }
        
   


.footer {
    background: #3a3b3b;    /*Color de fondo*/
    width: 100%;
    height: 100px;
    color: white;   /*Color de las letras*/
}

